.box{
    display: flex;
    flex-wrap: wrap; 
}

.item {
    width: 200px;
    height: 200px;
    margin: 30px;
    background-color: rgb(183, 201, 183);
}

.item:nth-of-type(2n){
    background-color: rgb(187, 61, 61); 
} 

.item:nth-child(2n){
    background-color: rgb(0, 0, 0); 
}