
main {
    /* margin: 0 10.5% 0 10.5%; */
   
}

hr {
    margin: 0 10.5% 0 10.5%;
}

main .design-back {
    margin: 0 0 0 0;
}

body {
    margin: 0;
}

body h1,h2,h3 {
    text-transform:uppercase;
}

header {
    background-color: #f6f2f2;
}

header h1{
    font-family: OpenSans-ExtraBold;
    font-size: 3.7em;
    /* max-width: 12ch; */
    /* letter-spacing: 10px; */
}

.first-menu {
    display: flex;
    flex-direction: column;
    flex: 1 1 40%;
    margin-right: 30px;
    /* max-width: 60%; */
}

.first-menu p{
    margin: 38px 0 38px 0;
    font-family: OpenSans-Regular;
}
.free-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.header-menu img{
    display: flex;
    max-width: 40%;
    /* flex: 1 1 40%; */
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #313030;
    min-height: 90px;
    margin: 0 10.5% 0 10.5%;
    font-family: OpenSans-Bold;
}

nav > ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    align-items: center;
    text-decoration: none;
    color: #e0e0e0;
    text-transform:uppercase;
    margin: 0 auto;
}


.nav-menu {
    display: flex;
    margin: 0 auto;
    text-decoration: none;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.a-link {
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: #e0e0e0;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    background-color: #ff3f40;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 10.5% 0 10.5%;
    padding: 55px 0 108px 0;
    
}

.header-menu h1{
    margin-top: 0;
    
}

.header-menu p {
    max-width: 60ch;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff2d2d;
    color: #e0e0e0;
    border-radius: 5px;
    text-decoration: none;
    width: 227px;
    height: 52px; 
    font-family: OpenSans-Bold;
}

.header-menu img {
    display: flex;
    max-width: 544px;
    flex: 1 0 40%;
    /* max-height: 148px; */
}
.do-you {
    max-width: 45%;
}

.do-you > h2 {
    font-family: OpenSans-Bold;
}

.do-you p {
    margin: 38px 0 38px 0;
    max-width: 60ch;
    font-family: OpenSans-Regular;
}

.lm-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ff2d2d;
    border-radius: 5px;
    color: #ff2d2d;
    text-decoration: none;
    width: 224px;
    height: 52px; 
    font-family: OpenSans-Bold;
}

.provide {
    margin: 0 10.5% 0 10.5%;
    display: flex;
    margin-top: 90px;
    justify-content: space-between;
      
}

.FP-menu {
    margin: 0 10.5% 0 10.5%;
}


.list-icon {
    max-width: 45%;
}

.list-icon ul{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    padding-left: 0;
}

.list-icon li {
    
    margin: 0 0 0 60px;
    flex: 1 1 250px;
    max-width: 30%;
}

.list-icon p {
    font-family: OpenSans-Regular;
}

.list-icon h3 {
    font-family: OpenSans-SemiBold;
    text-transform: none;

}



.products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products p{
    max-width: 60ch;
    text-align: center;
    font-family: OpenSans-Regular;
}

.products h2{
    max-width: 60ch;
    text-align: center;
    font-family: OpenSans-Bold;
}

.line {
    height: 2px;
    width: 128px;
    background-color: #ff2d2d;
}

.all_print_web {
    display: flex;
    justify-content: center;
    list-style: none;
    font-family: OpenSans-SemiBold;
}

.all_print_web li:hover{
    color: #ff2d2d;
}

.all_print_web li{
    margin: 30px 15px 30px 15px;
    text-transform:uppercase; 
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.gallery img {
    /* flex-wrap: wrap; */
    margin: 0 1px 15px 1px;
    max-width: 24%;
    max-height: 20%;
    flex: 1 1 295px;
}

.meet_our {
    display: flex;
    margin: 0 10.5% 40px 10.5%;
    flex-direction: column;
    max-width: 60ch;
    /* margin: 30px 0 30px 0; */
}

.meet_our h2{
    font-family: OpenSans-Bold;
}

.meet_our p{
    font-family: OpenSans-Regular;
}

.im_mark {
    display: flex;
    /* justify-content: space-between; */
    margin: 0 10.5% 0 10.5%;
    
}

.im_mark img {
    max-width: 30%;
    margin-right: 0px;
}


.mark_waugh {
    display: flex;
    flex-direction: column;
    max-width: 60ch;
    margin-left: 70px; 
    justify-content: space-between;
    max-width: 60%;
}

.mark_waugh h3 {
    font-family: OpenSans-SemiBold;
}

.mark_waugh p {
    font-family: OpenSans-Regular;
}

.mark_waugh li {
    font-family: OpenSans-Italic;
}

.mark_waugh ul{
    display: flex;
    list-style: none;
    justify-content: flex-start;
    padding: 0;
   
}

.mark_waugh li {
    margin: 10px 20px 10px 0px;
}

.mark_images {
    display: flex;
    /* margin-right: 0px; */
}

.mark_images img {
    max-width: 23%;
    margin: 10px 20px 0 0px;
}

.design_back {
    background-color: #f5f0dd; 

}

.design {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f0dd; 
    color: #fdfcf8;
    /* justify-content: center; */
    margin-top: 40px;
}

.design h2 {
    text-transform: none;
    font-family: OpenSans-Bold;
}

.design p {
    font-family: OpenSans-Regular;
}

.email-string {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    /* flex-direction: column; */

}

.main-field {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 7px;
    width: 820px;
    font-family: OpenSans-Regular;
    margin-right: 20px;
    flex-grow: 1;
}

.sub-but a{
    background-color: #ff2d2d;
    color: white;
    padding: 20px 30px 20px 30px;
    border-radius: 7px;
    width: 274px;
    margin-top: 80px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: OpenSans-Bold;
}

.last-field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 0 10.5%;
}

.last-field a {
    font-family: OpenSans-Bold;
}

.three-fields {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    font-family: OpenSans-Regular;

}

.name {
    display: flex;
    background-color: #e5e5e5;
    color: #6f6f6f;
    width: 45%;
    border-radius: 7px;

}

.mail {
    display: flex;
    background-color: #e5e5e5;
    color: #6f6f6f;
    width: 45%;
    border-radius: 7px;

}

.message {
    display: flex;
    background-color: #e5e5e5;
    color: #6f6f6f;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 7px;
    height: 200px;
}



.three-fields a {
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    background-color: #ff3b3b;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    border-radius: 7px;
    padding: 10px 0 10px 0;
    
}

.three-fields p {
    margin-left: 20px;
}

.contact-info {
    background-color: black;
    color: #a9a9a9;
    padding: 40px;
    width: 30%;
}

.contact-info h4{
    color: #d5d5d5;
    text-transform: uppercase;
    font-family: OpenSans-Bold;
}

.contact-info p{
    font-family: OpenSans-Regular;
}   

.footer-field {
    display: flex;
    margin-top: 40px;
    padding: 40px;
    background-color: #313030;
    color: #a9a9a9;
    justify-content: space-around;
    font-family: OpenSans-Regular;
}
.footer-icons a{
    margin: 10px;
}

@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans-Italic;
    src: url(../fonts/OpenSans-Italic.ttf);
}

@font-face {
    font-family: OpenSans-SemiBold;
    src: url(../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: OpenSans-ExtraBold;
    src: url(../fonts/OpenSans-ExtraBold.ttf);
}


@media (min-width: 350px)
{
    .header-menu h1 {
        /* font-size: 2.1em; */
    }

    .header-menu {
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1340px)
{
    .first-menu {
        flex-direction: column;
        align-items: center;
    }

    .header-menu img {
        margin-top: 30px;
        width: 100%;
    }
}

@media (max-width: 1200px)
{
    .header-menu h1{
        font-size: 2.5em;
    }
}

@media (max-width: 830px)
{
    .header-menu h1{
        font-size: 2em;
    }

}

@media (max-width: 670px)
{
    .header-menu h1{
        font-size: 1.5em;
    }
}

@media (max-width: 530px)
{
    .header-menu h1{
        font-size: 1.1em;
    }
}

@media (max-width: 430px)
{
    .header-menu h1{
        font-size: 0.9em;
    }
}

@media (max-width: 900px)
{
    .provide {
        flex-direction: column;
    }
    .do-you {
        max-width: 100%;
        justify-content: center;
    }

    .list-icon{
        max-width: 100%;
        justify-content: center;
    }

    .list-icon ul{
        justify-content: space-between;
        margin-top: 50px;
    }

    .list-icon li {
        max-width: 80%;
    
    }
}

@media (max-width: 600px)
{
    .all_print_web {
        font-size: 10px;
    }
}

@media (max-width: 650px)
{
    .im_mark {
        flex-direction: column;
    }
    .im_mark img{
        max-width: 100%;
    }
    .mark_images img{
        max-width: 23%;
    }

    .mark_waugh ul {
        flex-wrap: wrap;
    }
}

@media (max-width: 980px)
{
    .email-string {
        flex-direction: column;
    }
    .main-field {
        width: 420px;
        margin-bottom: 30px;
    }

}

@media (max-width: 580px)
{
    .main-field {
        width: 220px;
    }
}

@media (max-width: 580px)
{
    .last-field {
        flex-direction: column;
        justify-content: center;
        margin-right: 10.5%;
    }

    .three-fields {
        width: 100%;
    }

    .contact-info{
        width: 100%;
        margin-top: 20px;
        margin-right: 10.5%;
        padding: 30px;
    }
}